<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="dev" connectionString="Server=localhost;database=dotnet_veiculos;Uid=root;Pwd=bruce@#2022;" />
	</connectionStrings>
	<appSettings>
		<add key="emailFrom" value="rafael-w5@hotmail.com" />
		<add key="senhaEmail" value="r14011994" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>